<h2>List of ratings</h2>

Number of ratings: <%= @ratings.count %> (<%= link_to "Rate 'em!", new_rating_path%>)

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete,data: { confirm: 'Are you sure you want to un-rate?' } %> </li> 
 <% end %>
</ul>
